<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		Pa11y results for "{{pageUrl}}"
	</title>
	<style>
		html, body {
			background-color: #ffffff;
			color: rgb(51 51 51);
			font-family: system-ui, sans-serif;
			font-size: 16px;
			line-height: 1.3rem;
			margin: 0;
			padding: 0;
		}

		main {
			margin-block: 0;
			margin-inline: auto;
			max-inline-size: 900px;
			padding: 1.25rem;
		}

		h1 {
			font-size: 1.5rem;
			line-height: 1.5rem;
			margin: 0;
			margin-block-end: 0.5rem;
		}

		h2, h3 {
			font-size: 1.15rem;
			font-weight: normal;
			margin: 0;
			padding-block-end: 0.5rem;
		}

		h3 { padding-block-end: 0; }

		p { margin: 0; }

		.filter {
			display: inline-grid;
			grid-template-columns: 8.5rem 1fr 1fr 1fr;
			margin-block-start: 1rem;
		}

		.filter .label {
			font-size: 1.15rem;
			padding-block: 0.45rem;
			padding-inline: 0;
		}

		.count {
			border-radius: 0;
			border-width: 0;
			box-shadow: 0.1rem 0.25rem 0.5rem rgba(0 0 0 / 15%);
			cursor: pointer;
			display: inline-grid;
			font-size: 1.15rem;
			grid-template-columns: 0.35rem 1fr;
			margin-inline-end: 0.75rem;
			min-inline-size: 80px;
		}

		.count .body {
			border-style: solid;
			border-width: 1px 1px 1px 0;
			overflow-x: hidden;
			padding-block: 0.35rem;
			padding-inline: 0.7rem;
			text-align: center;
		}

		.count.hidden {
			background-color: #f4f4f4;
			color: rgb(51 51 51);
		}

		.count.hidden .left-bar { background-color: #808080; }

		.count.hidden .body { border-color: #d4d4d4; }

		.issues {
			list-style: none;
			margin: 0;
			margin-block-start: 1.5rem;
			padding-inline-start: 0;
		}

		.issue {
			border-radius: 0;
			border-width: 0;
			box-shadow: 0.1rem 0.25rem 0.5rem rgba(0 0 0 / 15%);
			display: grid;
			grid-template-columns: 0.5rem 1fr;
			margin: 0;
			margin-block-end: 1.5rem;
			padding: 0;
		}

		/* stylelint-disable-next-line no-descending-specificity -- different parent elements */
		.issue .left-bar { background-color: #808080; }

		.issue p:not(:last-child) { padding-block-end: 0.1rem; }

		.issue.hidden { display: none; }

		/* stylelint-disable-next-line no-descending-specificity -- different parent elements */
		.issue .body {
 			border-color: #bfbfbf;
 			border-style: solid;
			border-width: 1px 1px 1px 0;
			overflow-x: hidden;
			padding: 0.5rem;
			position: relative;
		}

		.issue .body h3 { padding-block-end: 0.25rem; }

		.context, .selector {
			font-family: monospace;
			font-size: 0.95rem;
			padding-block-start: 0.1rem;
		}

		.error {
			background-color: #f8d7da;
			color: rgb(103 25 31);
		}

		.warning {
			background-color: #fff3cd;
			color: rgb(84 64 3);
		}

		.notice {
			background-color: #cfe2ff;
			color: rgb(6 44 101);
		}

		.error a { color: #842029; }
		.warning a { color: #664d03; }
		.notice a { color: #074197; }

		/* stylelint-disable-next-line no-descending-specificity -- different parent elements */
		.error .left-bar { background-color: #d53447; }
		/* stylelint-disable-next-line no-descending-specificity -- different parent elements */
		.warning .left-bar { background-color: #c79500; }
		/* stylelint-disable-next-line no-descending-specificity -- different parent elements */
		.notice .left-bar { background-color: #015cda; }

		/* stylelint-disable-next-line no-descending-specificity -- different parent elements */
		.error .body { border-color: #f2bbc1; }
		/* stylelint-disable-next-line no-descending-specificity -- different parent elements */
		.warning .body { border-color: #ffd761; }
		/* stylelint-disable-next-line no-descending-specificity -- different parent elements */
		.notice .body { border-color: #a9cefe; }

		.clipboard-button {
			background-color: rgba(51 51 51 / 10%);
			border: 2px solid;
			border-color: rgba(51 51 51 / 30%);
			border-radius: 2px;
			color: rgba(51 51 51 / 40%);
			font-size: 0.8rem;
			inset-block-start: 7px;
			inset-inline-end: 7px;
			margin: 0;
			opacity: 0;
			padding-block: 5px 4px;
			padding-inline: 7px;
			position: absolute;
			transition: 0.1s;
			visibility: hidden;
			z-index: 1;
		}

		.error .clipboard-button {
			background-color: rgba(103 25 31 / 10%);
			border-color: rgba(103 25 31 / 30%);
			color: rgba(103 25 31 / 40%);
		}

		.warning .clipboard-button {
			background-color: rgba(84 64 3 / 10%);
			border-color: rgba(84 64 3 / 30%);
			color: rgba(84 64 3 / 40%);
		}

		.notice .clipboard-button {
			background-color: rgba(6 44 101 / 10%);
			border-color: rgba(6 44 101 / 30%);
			color: rgba(6 44 101 / 40%);
		}

		.clipboard-button > svg { fill: rgba(51 51 51 / 40%); }
		.error .clipboard-button > svg { fill: rgba(103 25 31 / 40%); }
		.warning .clipboard-button > svg { fill: rgba(84 64 3 / 40%); }
		.notice .clipboard-button > svg { fill: rgba(6 44 101 / 40%); }

		.clipboard-button:focus { outline: 0; }

		.clipboard-button:hover,
		.clipboard-button:focus {
			background-color: rgba(51 51 51 / 20%);
			border-color: rgba(51 51 51 / 70%);
			color: rgba(51 51 51 / 80%);
			cursor: pointer;
		}

		.error .clipboard-button:hover,
		.error .clipboard-button:focus {
			background-color: rgba(103 25 31 / 20%);
			border-color: rgba(103 25 31 / 70%);
			color: rgba(103 25 31 / 80%);
		}

		.warning .clipboard-button:hover,
		.warning .clipboard-button:focus {
			background-color: rgba(84 64 3 / 20%);
			border-color: rgba(84 64 3 / 70%);
			color: rgba(84 64 3 / 80%);
		}

		.notice .clipboard-button:hover,
		.notice .clipboard-button:focus {
			background-color: rgba(6 44 101 / 20%);
			border-color: rgba(6 44 101 / 70%);
			color: rgba(6 44 101 / 80%);
		}

		.clipboard-button:hover > svg,
		.clipboard-button:focus > svg {
			fill: rgba(51 51 51 / 80%);
		}

		.error .clipboard-button:hover > svg,
		.error .clipboard-button:focus > svg {
			fill: rgba(103 25 31 / 80%);
		}

		.warning .clipboard-button:hover > svg,
		.warning .clipboard-button:focus > svg {
			fill: rgba(84 64 3 / 80%);
		}

		.notice .clipboard-button:hover > svg,
		.notice .clipboard-button:focus > svg {
			fill: rgba(6 44 101 / 80%);
		}

		.issue .body:hover > .clipboard-button,
		.issue .body:focus-within > .clipboard-button {
			opacity: 1;
			transition: 0.2s;
			visibility: visible;
		}
	</style>
</head>

<body>
	<main>
		<h1>Pa11y results for "{{pageUrl}}"</h1>
		<h2>Generated at: {{date}}</h2>
		<h2>Runners (with issues): {{runners}}</h2>

		<p class="filter">
			<span class="label">Toggle by type</span>
			<span class="count error" id="error-count" tabindex="0" role="button" aria-label="Toggle errors">
				<span class="left-bar" aria-hidden="true"></span>
				<span class="body">{{counts.errors}} errors</span>
			</span>
			<span class="count warning" id="warning-count" tabindex="0" role="button" aria-label="Toggle warnings">
				<span class="left-bar" aria-hidden="true"></span>
				<span class="body">{{counts.warnings}} warnings</span>
			</span>
			<span class="count notice" id="notice-count" tabindex="0" role="button" aria-label="Toggle notices">
				<span class="left-bar" aria-hidden="true"></span>
				<span class="body">{{counts.notices}} notices</span>
			</span>
		</p>
		<ul class="issues">
			{{#issues}}
			<li class="issue {{type}}">
				<div class="left-bar" aria-hidden="true"></div>
				<div class="body">
					<h3><strong>{{displayedType}}</strong>: {{message}}</h3>
					{{~#if helpText~}}
					<p>{{helpText}}</p>
					{{~/if~}}
					{{~#if helpUrl~}}
					<p><a href="{{helpUrl}}">{{runner}}: {{code}}</a></p>
					{{~else~}}
					<p>{{runner}}: {{code}}</p>
					{{~/if~}}
					{{~#if context~}}
					<p class="context">{{context}}</p>
					{{~/if~}}
					{{~#if selector~}}
					<p class="selector">(selector "{{selector}}")</p>
					{{~/if~}}
				</div>
			</li>
			{{/issues}}
		</ul>
	</main>
	<script>
		const toggleIssues = (btn, pageQuery) => {
			const className = 'hidden';
			document.getElementById(btn).classList.toggle(className);
			document.querySelectorAll(pageQuery).forEach((page) => {
				page.classList.toggle(className);
			});
		};

		const errorCountFilter = document.getElementById('error-count');
		errorCountFilter.addEventListener('click', () =>
			toggleIssues('error-count', '.issues .issue.error')
		);
		errorCountFilter.addEventListener('keydown', (event) =>
			event.key === "Enter" && toggleIssues('error-count', '.issues .issue.error')
		);

		const warningCountButton = document.getElementById('warning-count');
		warningCountButton.addEventListener('click', () =>
			toggleIssues('warning-count', '.issues .issue.warning')
		);
		warningCountButton.addEventListener('keydown', (event) =>
			event.key === "Enter" && toggleIssues('warning-count', '.issues .issue.warning')
		);

		const noticeCountButton = document.getElementById('notice-count');
		noticeCountButton.addEventListener('click', () =>
			toggleIssues('notice-count', '.issues .issue.notice')
		);
		noticeCountButton.addEventListener('keydown', (event) =>
			event.key === "Enter" && toggleIssues('notice-count', '.issues .issue.notice')
		);
	</script>
	<script>
		const svgCopy = '<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg>';
		const svgCheck = '<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"><path fill-rule="evenodd" fill="rgb(63, 185, 80)" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>';

		if (navigator && navigator.clipboard) {
			document.querySelectorAll(".issue .body .selector").forEach((selectorNode) => {
				const selector = selectorNode.innerText
					.match(/\(selector "(?<selector>.+)"\)/).groups.selector;

				const button = document.createElement("button");
				button.className = "clipboard-button";
				button.type = "button";
				button.title = "Copy selector";
				button.innerHTML = svgCopy;
				button.addEventListener("click", (event) => {
					navigator.clipboard.writeText(selector)
						.then(() => {
							// Remove focus if mouse, since hovering and will remain visible.
							// If keyboard, keep focus until another keyboard action blurs.
							event.detail && button.blur();
							button.innerHTML = svgCheck;
							setTimeout(() => (button.innerHTML = svgCopy), 2000);
						},
						(error) => (button.innerHTML = "Error")
					);
				});

				selectorNode.parentNode.insertBefore(button, selectorNode);
			});
		};
	</script>
</body>

</html>
